@font-face {
  font-family: "Victor Mono";
  font-weight: normal;
  src: url(font/VictorMono-Regular.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Victor Mono";
  font-weight: bold;
  src: url(font/VictorMono-Bold.woff2) format("woff2");
  font-display: swap;
}

* { box-sizing: border-box; }

:root {
  --html-bg-color: #0d0d0c;
  --body-bg-color: #151513;
  --fg-color1: #b1a891;
  --fg-color3: #afa487;
  --fg-color2: #81816a;
}

html {
  width: 100vw;
  min-height: 100%;
  height: max-content;
  overflow-x: hidden;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: center;

  background-color: var(--html-bg-color);
  color: var(--fg-color1);
  font-family: 'Victor Mono', serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
  width: 60%;
  min-width: 350px;
  background-color: var(--body-bg-color);
  font-size: 14pt;
}

.md header {
  padding-bottom: 0.5rem;
  border-bottom: 1px dashed var(--fg-color2);
}

hgroup {
  color: var(--fg-color3);
  text-align: center;
}

hgroup h1 { font-size: 28pt; }
hgroup p { font-size: 14pt; margin: 1rem; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

nav > *:not(:only-child):not(:first-child) {
  border-left: solid 1px var(--fg-color2);
  text-align: center;
  padding-left: 0.5rem;
}

a[role=button] {
  text-decoration: none;
}

time { color: var(--fg-color2); }
time.suffix::before { content: "\2014  "; color: inherit; }

.md main h1 { font-size: 20pt; }
.md main h2 { font-size: 19pt; }
.md main h3 { font-size: 18pt; }
.md main h4 { font-size: 17pt; }
.md main h5 { font-size: 16pt; }
.md main h6 { font-size: 15pt; }
.md main p { font-size: 14pt; }

*:not(.md) > main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 auto;
}

main > section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main > section > span {
  display: flex;
  align-items: center;
  justify-content: center;

  color: var(--fg-color2);
  width: 100%;
}

main > section > span::after {
  content: "";
  flex-grow: 1;
  border-top: 1px dashed var(--fg-color2);
  margin-left: 1rem;
}

main > section > p {
  width: 100%;
}

a {
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin: 0;
  /* margin-left: 1rem; */
  padding: 0;
}

li::before {
  content: "-";
  color: var(--fg-color2);
  margin-right: 0.5rem;
}

footer {
  text-align: center;
  color: var(--fg-color2);
}

code, pre {
  font-family: "Victor Mono";
}
